body {
    margin: 0%;
    font-family: "Lexend", sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}
img {
    width: 100%;
    height: 100%;
}
main {
    background-color: #F68134;
    margin: 0%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#enter {
    background-color: #6AC5EE;
    padding: 50px;
    border-radius: 30px;
    font-size: 40px;
    color: white;
}
#enter:hover{
    background-color: #52B4D9;
    font-size: 35px;
}
#enter:active{
    background-color: #338fb1;
}

#copy {
    margin: 0.5%;
    font-size: 25px;
    color: white;
}
header{
    background-color: #6AC5EE;
    margin: 0;
    justify-content: center;
    font-size: 18px;
}
ul{
    display: flex;;
    gap: 2em;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: #F68134;
}
a:visited{
    color: #2081f0;
}
a:active{
    color: #faa46b;
}

article{
    width: 400px;
    height: 400px;
    padding: 100px;
    margin: 0;
    background-color: #6AC5EE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
}

footer{
    background-color: #6AC5EE;
    margin: 0;
    display: flex;
    justify-content: center;
    color: white;
}
